{% extends 'main.html' %}
{% load staticfiles %}
{% block turnir %}

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="body-container">
        <form action="/dancers/savedancer/" method="post" class="form-horizontal" role="form" >
    {% csrf_token %}
    {{ form }}
    <!--<input class="button" ">-->
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button submit" class="btn btn-primary">Добавить</button>
    </div>
</form>
    </div>
    <div class="col-lg-2"></div>
{% endblock %}