{% extends 'main.html' %}
{% load staticfiles %}
{% block article %}
<div class="body-container">
    <div class="zxc"id="zxc">
<p>Танцевальный клуб "{{club}}", тренер: {{treaner}}</p>
        </div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Дата рождения</th>
            <th>Возраст</th>
            <th>Имя</th>
            <!--<th>Тренер</th>-->
            <th>Кол-во баллов</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for dancer in dancers %}
        <tr>
            <td><a href="#">{{dancer.dancer_birthday }}</a></td>
            <td>{{ dancer.age }}</td>
            <td>{{dancer.dancer_name}}</td>
            <!--<td>{{ dancer.dancer_trainer.name }}</td>-->
            <td>{{dancer.dancer_balls}}</td>
            <td><a href="/dancers/delete/{{dancer.id}}"><span class="glyphicon glyphicon-remove-sign"></span> Удалить</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}